{% extends './navbar.html' %}

{% block title %}Success{% endblock %}

{% block content %}
<style>
    .success-container {
        text-align: center;
        padding: 100px 20px;
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
    }

    

    .success-container p {
        color:red;
        font-size: 1.7rem;
        margin-top:-50px;
        font-family: "bold",sans-seFrif;
        text-shadow: 0 0 10px #FF4500;
    }

    
</style>

<div class="success-container">
    <h2>Your message has been sent</h2>
    
    <a href="{% url 'store:home' %}" class="cta-button">Return Home</a>
</div>

{% endblock %}
